
@{
    ViewBag.Title = "Exists";
}


<h2>Er bestaat al een inschrijving op jouw naam!</h2>
<hr />
<button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview")'">Terug</button>

