
@{
    ViewBag.Title = "Removed";
}


<h2>Je hebt je succesvol uitgeschreven voor de maaltijd.</h2>
<hr />
<button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview")'">Terug</button>


