
@{
    ViewBag.Title = "ExistingRegistrations";
}
<body>
    <h2>Er zijn al inschrijvingen voor deze maaltijd, je kan hem helaas niet meer wijzigen of verwijderen.</h2>    
    <hr />
    <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview")'">Terug</button>
</body>


