
@{
    ViewBag.Title = "NoAccess";
}

<body>
    <h2>Je hebt geen toegang tot deze functionaliteit.</h2>
    <hr />
    <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview")'">Terug</button>
</body>

