
@{
    ViewBag.Title = "Success";
}

<body>
    <h2>De maaltijd is aangepast.</h2>
    <hr />
    <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview")'">Terug</button>
</body>
