@model StudentApplication.Models.MealModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Avondeten</h1>
    <p class="lead">Op deze website zie je wie er kookt en wie er mee eet.</p>
    @if (ViewContext.HttpContext.User.IsInRole("Registration"))
    {
        <p>Je registratie is nog niet compleet! Maak eerst je registratie af.</p>
        <button class="btn btn-danger" type="button" style="padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("StepTwo", "AccountStudent", new { title = "Stap 2" })'">Maak registratie compleet</button>
    }
    @if (!ViewContext.HttpContext.Request.IsAuthenticated)
    {
        <p><b>Je bent niet ingelogd !</b></p>
    }
    @if (ViewContext.HttpContext.User.IsInRole("Registered"))
    {
        <p><b>Je bent geregistreerd!</b></p>
    }
    <button class="btn btn-danger" type="button" style="padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview", new { title = "Maaltijdoverzicht" })'">Maaltijdoverzicht</button>
</div>