
@{
    ViewBag.Title = "Exists";
}

<body>
    <h2>Er bestaat al een inschrijving op jouw naam!</h2>
    <hr />
    <button class="btn btn-danger" type="button" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview")'">Terug</button>
</body>

