@model StudentApplication.Models.IndexViewModel
@{
    ViewBag.Title = "Accountbeheer";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Accountgegevens veranderen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Wachtwoord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Verander je wachtwoord", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Wachtwoord creeëren", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
